.text-color1{
    color: #E65100;
} 
.bg-color1{
    background: #E65100;
}
.text-color2{
    color: #6A1B9A;
}
.bg-color2{
    background: #6A1B9A;
}
.menu ul li a:hover{
    color: #E65100;
}
.hero{
    min-height:300px;
}
.herotitle{
    margin-top:70px;
    color: white;
    font-size:45px;
}
.herodes{
    color: white;
    font-size:18px;
}
.herobtn:hover{
    background: #E65100;
}
.herodot{
    top:30px;
    left:0px;
    height: 150px;
}
.herosideimg{
    top:100px;
    right:0px;
}
.webheading{
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.category{
    min-height: 300px;
}

.catcard1{
    background: #bdf5ec;
    transition: 1s;
}
.catcard1:hover{
    background: #02fbd1;
    transition: 1s;
}
.catcard2{
background: #f3bbc3;
transition: 1s;
}
.catcard2:hover{
background: #fd0127;
transition: 1s;
}
.catcard3{
    background: #bff5dc;
    transition: 1s;
}
.catcard3:hover{
    background: #03f785;
    transition: 1s;
}
.catcard4{
    background: #fbe7b7;
    transition: 1s;
}
.catcard4:hover{
    background: #fdb202;
    transition: 1s;
}
.catcard5{
    background: #cdb9f4;
    transition: 1s;
}
.catcard5:hover{
    background: #5602fd;
    transition: 1s;
}
.catcard6{
    background: #f0b6d5;
    transition: 1s;
}
.catcard6:hover{
    background: #fd0388;
    transition: 1s;
}
.catcard7{
    background: #b7bdf6;
    transition: 1s;
}
.catcard7:hover{
    background: #031cfb;
    transition: 1s;
}
.catcard8{
    background: #f5d8b6;
    transition: 1s;
}
.catcard8:hover{
    background: #f78503;
    transition: 1s;
}
.catcard9{
    background: #bee5f6;
    transition: 1s;
}
.catcard9:hover{
    background: #03aff8;
    transition: 1s;
}
.trending{
    min-height: 300px;
}
.trusted{
    min-height: 300px;
}
.testimonial{
    min-height: 300px;
}
.talent{
    min-height: 300px;
}
.article{
    min-height: 300px;
}
.contact{
    min-height: 300px;
}
.trending span{
    width: 80px;
    top:5px;
    right:5px;
}
.trendingstar
{
    font-size:11px;
}
.trendingprice{
    font-size: 14px;
}
.trendingcard:hover{
    transform:scale(1.05);
    transition: 2s;
}
.trendingcard{
    transition: 2s;
}
.footer{
    min-height: 300px;
}
.footercol{
    padding-top:20px;
    padding-left: 50px;
}
.ficons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.ficons a {
  font-size: 20px;
  text-decoration: none;
  margin-right: 22px;
  transition: all 0.3s ease;
}

.facebook {
  color: #1877F2;
}

.linkedin {
  color: #0A66C2;
}

.instagram {
  color: #E4405F;
}

.twitter {
  color: white;
}

.youtube {
  color: #FF0000;
}

.ficons a:hover {
  transform: translateY(-5px) scale(1.15);
}
.footercol ul {
  list-style: none;
  padding-left: 0;
}

.footercol ul li {
  margin-bottom: 12px;
}
.footercol ul li a {
  text-decoration: none;
  color: #dcdcdc;
  transition: 0.3s;
}

.footercol ul li a:hover {
  color: #20c997;
}
.highlight{
    color:#e65100 ;
}
.trustedimg{
    top: -30px;
    right: -10px;
}
.trusteddiv{
    padding:50px 30px;
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.testhead{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.testp{
    color: grey;
    font-size: 13px;
    padding-top: 10px;
    text-align: justify;
}
.teststar{
    font-size: 10px;
    margin: 0px;
}
.testpost{
    color: grey;
    font-size: 12px;
}
.contactor{
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    color: #e65100;
    background: white;
    font-size: 20px;
    
}
.talent-card {
    text-align: center;
}

.talent-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.4s;
}

.talent-card:hover .talent-img {
    transform: scale(1.05);
}

.talent-card h4 {
    font-size: 20px;
}

.talent-card h6 {
    font-size: 12px;
    color: #777;
}